#content {
    width: 99%; /* prevents horizontal scrolling */
}
.highlight {
    margin: 0.5em 1em; /* indent code blocks slightly */
    padding: 1em;
    background-color: #eee;
}
code {
    background-color: #eee;
}
p.breadcrumbs {
    margin: 0;
}

/* always visible language selector */
#lang {
    margin: .2em 0;
}
.js-fixed {
    margin: 0 !important;
    padding-bottom: .2em;
    border-bottom: solid 1px #ccc;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
}
.js-fixed p.breadcrumbs {
    float: left;
    margin-right: 2em;
}

@media screen and (max-width:1000px) {
    p {
        padding-right: 10px; /* prevents horizontal scrolling on small screens */
    }
}
@media screen and (max-width:400px) {
    .js-fixed p.breadcrumbs {
        float: none; /* prevents wrapping on language drop down */
    }
}
